<main class="layer gradient">
    <div class="layer gradient-image"></div>
    <section class="layer gradient-content">
        <header>
            <span>ICON</span>
        </header>
        <footer>
            <p>Hello!</p>
            <h1>Description site</h1>
            <form class="" action="/capture" method="post">
                <label>
                    <span>Your E-email:</span>
                    <input required type="email" name="email" placeholder="email@example.com">
                </label>
                <label>
                    <span>Your Name:</span>
                    <input required type="text" name="name" placeholder="John Doe">
                </label>
                <label>
                    <span>Your role:</span>
                    <textarea name="role" placeholder="I am..."></textarea>
                </label>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">SEND</button>
            </form>
        </footer>
    </section>
</main>
